html {
    height: 100%;
}

body {
    height: 100%;
    color: #74285d;
    background-color:;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.navbar {
    text-shadow: white;
}