html {
    height: 100%;
}

body {
    height: 100%;
    color: 	#ff6600;
    
    background-color: #4d0066;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.navbar {
    text-decoration: underline;
    display: flex;
    justify-content: space-around;
    color: #FFD700;
}

.header{
    display:flex;
    justify-content:center;
    width:60;
    font-size: 50px;
}

.footer{
    
   display: flex; 
   justify-content: center;
}

.gallery{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
   
}

.images {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.videos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.video {
   display: flex;
   justify-content: space-between;
}

.thumbnail-image{
 border: solid black 5px;
}

h1{
    display: flex; 
   justify-content: center;
}

.aboutMain {
    display: flex; 
   justify-content: flex-end;

    
}

.rightPane {
    
    width: 100%;
}

.leftPane {
    width:50%;
}

.aboutMain {
    display:flex;
    flex-direction: row; 
    
}



